@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6ece1;
  --foreground: #f6ece1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6ece1;
    --foreground: #f6ece1;
  }
}

body {
  color: f6ece1;
  background: f6ece1;
  font-family: Arial, Helvetica, sans-serif;
}
